@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Roboto:100,300,400,500,700,900|Vidaloka&display=swap&subset=korean");

/*------------------------------------------------------------------
	00. CSS Reset
-------------------------------------------------------------------*/

/* ::-webkit-scrollbar,
::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {-webkit-appearance:none; display:none;} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: -0.05em;
}
html {
}
body {
  margin: 0;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
caption {
  display: none;
}
a {
  background: transparent;
  cursor: pointer;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong,
th {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  max-width: none;
}
svg:not(:root) {
  overflow: hidden;
}
ol,
ul,
li {
  list-style: none;
}
label,
button {
  cursor: pointer;
  vertical-align: middle;
  border: none;
}
label {
  margin-left: 5px;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  word-break: break-all;
  width: 100%;
}

/*------------------------------------------------------------------
	01. Typography
-------------------------------------------------------------------*/

body {
  font-family: "Noto Sans KR", "sans-serif", "dotum", "돋움", "gulim", "굴림",
    "Arial", "AppleGothic", "verdana", "helvetica";
  font-size: 16px;
  letter-spacing: -0.05em;
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 500;
  line-height: 1;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 2rem;
  line-height: 1.7;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.4rem;
}
p {
  margin-top: 0;
}
a {
  color: inherit;
}
a,
a:link,
a:hover,
a:active,
a:focus,
button:focus {
  outline: 0;
  text-decoration: none;
}
body,
input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* blockquote {background: #f9f9f9; padding: 20px;} */
input,
textarea,
button,
select,
label {
  font-family: "Noto Sans KR", sans-serif, dotum, "돋움", gulim, "굴림", Arial,
    AppleGothic, verdana, helvetica;
}

.txtAlCen {
  text-align: center;
}
.txtAlLef {
  text-align: left;
}
.txtAlRig {
  text-align: right;
}

.fontwt100 {
  font-weight: 100;
}
.fontwt200 {
  font-weight: 200;
}
.fontwt300 {
  font-weight: 300;
}
.fontwt400 {
  font-weight: 400;
}
.fontwt500 {
  font-weight: 500;
}
.fontwt600 {
  font-weight: 600;
}
.fontwt700 {
  font-weight: 700;
}

.fontsize7 {
  font-size: 7pt;
}
.fontsize8 {
  font-size: 8pt;
}
.fontsize9 {
  font-size: 9pt;
}
.fontsize10 {
  font-size: 10pt;
}
.fontsize11 {
  font-size: 11pt;
}
.fontsize12 {
  font-size: 12pt;
}
.fontsize13 {
  font-size: 13pt;
}
.fontsize14 {
  font-size: 14pt;
}
.fontsize15 {
  font-size: 15pt;
}

/*------------------------------------------------------------------
	02. Colors & Backgrounds
-------------------------------------------------------------------*/

::selection {
  background: #0ea8aa;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #0ea8aa;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #0ea8aa;
  color: #fff;
  text-shadow: none;
}

.transparent {
  background-color: transparent !important;
}
.no-shadow {
  box-shadow: none;
}
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.z-depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.comShdw {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

/*------------------------------------------------------------------
	03. Animations
-------------------------------------------------------------------*/

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.bouncein {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
.delay-1 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.delay-2 {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.delay-3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.delay-4 {
  -webkit-animation-delay: 0.55s;
  animation-delay: 0.55s;
}
.delay-5 {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.delay-6 {
  -webkit-animation-delay: 0.95s;
  animation-delay: 0.95s;
}

@keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.ani {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.hover:hover {
  box-shadow: 0 4px 4px rgba(33, 156, 173, 0.24),
    0 6px 18px rgba(9, 100, 113, 0.12);
  transform: translate3d(0, -1px, 0);
}

/*------------------------------------------------------------------
	04. Input & Form Elements
-------------------------------------------------------------------*/

input:not([type]),
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
input[type="number"],
input[type="search"] {
  font-size: 13px;
  padding-left: 5px;
}

input[type="textarea"],
textarea {
  width: 100%;
  font-size: 13px;
  margin: 0;
  border: 1px solid #ddd;
  color: #333;
  background: #fff;
  padding: 5px;
  vertical-align: middle;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

/* SelectBox Style */
select {
  height: 32px;
  font-family: "doutm";
  font-size: 12px;
  margin: 0;
  color: #000;
  padding-left: 5px;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid #dfe1e3;
  border-radius: 0px; /* -webkit-appearance: none; -moz-appearance: none; appearance: none;  */
  position: relative;
}
select:focus {
  outline: 0;
  border-color: #043d5d;
}
select::-ms-expand {
  display: none;
}

input[type="text"],
input[type="password"],
input[type="name"],
input[type="tel"],
input[type="search"] {
  height: 32px;
  font-family: "doutm";
  font-size: 12px;
  margin: 0;
  color: #ababab;
  background: none;
  padding-left: 5px;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  border-radius: 0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="name"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus {
  outline: 0;
  border-color: #ac9279;
  color: #222;
}

textarea {
  color: #000;
  font-family: "dotum";
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
}

textarea:focus {
  outline: 0;
  background: #fff;
  border-color: #043d5d;
}

label {
  font-family: "dotum";
  font-size: 12px;
  color: #000;
  letter-spacing: -0.04em;
  vertical-align: middle;
}

/*------------------------------------------------------------------
	05. Margin&padding
-------------------------------------------------------------------*/

.borBox {
  box-sizing: border-box;
}
.conBox {
  box-sizing: content-box;
}

.posiFix {
  position: fixed;
}
.posiAb {
  position: absolute;
}
.posiRel {
  position: relative;
}

.floatL {
  float: left;
}
.floatR {
  float: right;
}
.clearfix {
  clear: both;
}

.txtdot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m0 {
  margin: 0 !important;
}
.m10 {
  margin: 10px !important;
}
.m15 {
  margin: 15px !important;
}
.m20 {
  margin: 20px !important;
}
.m30 {
  margin: 30px !important;
}
.m40 {
  margin: 40px !important;
}
.m50 {
  margin: 50px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb45 {
  margin-bottom: 45px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt8 {
  margin-top: 8px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mt70 {
  margin-top: 70px !important;
}
.mt100 {
  margin-top: 100px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.ml50 {
  margin-left: 50px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mr50 {
  margin-right: 50px !important;
}
.p0 {
  padding: 0 !important;
}
.p10 {
  padding: 10px !important;
}
.p15 {
  padding: 15px !important;
}
.p20 {
  padding: 20px !important;
}
.p30 {
  padding: 30px !important;
}
.p40 {
  padding: 40px !important;
}
.p50 {
  padding: 50px !important;
}
.pb0 {
  padding-bottom: 0px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pb50 {
  padding-bottom: 50px !important;
}
.pb60 {
  padding-bottom: 60px !important;
}
.pb80 {
  padding-bottom: 80px !important;
}
.pb100 {
  padding-bottom: 100px !important;
}
.pb140 {
  padding-bottom: 140px !important;
}
.pt0 {
  padding-top: 0px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pt35 {
  padding-top: 35px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pt50 {
  padding-top: 50px !important;
}
.pt70 {
  padding-top: 70px !important;
}
.pt80 {
  padding-top: 80px !important;
}
.pt90 {
  padding-top: 90px !important;
}
.pt300 {
  padding-top: 300px !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pl35 {
  padding-left: 35px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.pl50 {
  padding-left: 50px !important;
}
.pr0 {
  padding-right: 0px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pr35 {
  padding-right: 35px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.pr50 {
  padding-right: 50px !important;
}

.top0 {
  top: 0px !important;
}
.top45 {
  top: 45px !important;
}
.top60 {
  top: 60px !important;
}
.right0 {
  right: 0px !important;
}
.right55 {
  right: 55px !important;
}
.left0 {
  left: 0px !important;
}
.left10 {
  left: 10px !important;
}
.left20 {
  left: 20px !important;
}
.bottom0 {
  bottom: 0px !important;
}

.bordTnon {
  border-top: none !important;
}
.bordBnon {
  border-bottom: none !important;
}
.bordLnon {
  border-left: none !important;
}
.bordRnon {
  border-right: none !important;
}

.vtaT {
  vertical-align: top;
}
.vtaM {
  vertical-align: middle;
}
.vtaB {
  vertical-align: bottom;
}

.width100 {
  width: 100%;
}
.height100 {
  height: 100%;
}
.line100 {
  line-height: 100%;
}
.line110 {
  line-height: 110%;
}
.line120 {
  line-height: 120%;
}
.line130 {
  line-height: 130%;
}
.line140 {
  line-height: 140%;
}
.line150 {
  line-height: 150%;
}
.line160 {
  line-height: 160%;
}

.wd5 {
  width: 5%;
}
.wd10 {
  width: 10%;
}
.wd15 {
  width: 15%;
}
.wd20 {
  width: 20%;
}
.wd25 {
  width: 25%;
}
.wd30 {
  width: 30%;
}
.wd35 {
  width: 35%;
}
.wd40 {
  width: 40%;
}
.wd45 {
  width: 45%;
}
.wd50 {
  width: 50%;
}
.wd55 {
  width: 55%;
}
.wd60 {
  width: 60%;
}
.wd65 {
  width: 65%;
}
.wd70 {
  width: 70%;
}
.wd75 {
  width: 75%;
}
.wd80 {
  width: 80%;
}
.wd85 {
  width: 85%;
}
.wd90 {
  width: 90%;
}
.wd95 {
  width: 95%;
}
.wd100 {
  width: 100%;
}

.text-center {
  text-align: center;
}
