#wrap {position: relative;}
.container{position: relative; width: 1200px; margin: 0 auto;}
#gnb {position: absolute; z-index: 999; left: 0; right: 0; display: flex; justify-content:center; height: 115px; -webkit-transition: all 0.3s; transition: all 0.3s;}
#gnb.on {position: fixed; background: rgba(255, 255, 255, 0.82);}

.btn{min-width:170px; height: 50px; border-radius:25px; background: #323232; font-size: 17px; color: #fff;}
.sec-txt{position: relative; z-index: 99;}
.section-area h2{font-family: 'Cormorant Garamond'; font-size: 87px; color: #219cad;}
.section-area h2 span {position: relative; display: inline-block; min-width:18px; -webkit-font-smoothing:antialiased;}
.section-area h3{margin-top: 20px; font-weight: 500; font-size: 16px; color: #292929;}
.section-area h4{margin-bottom: 15px; font-weight: 700; margin-top: 38px; font-size: 14px; color: #555; letter-spacing: 0.03em;}

/* 인트로 */
.intro-sec h2{font-family: 'Marcellus'; font-size: 95px;}
.intro-sec h3{margin-top: 20px; font-weight: 500; font-size: 18px;}
.intro-sec h4{margin-bottom: 13px; font-weight: 400; font-size: 14px;}
.main-slide {color: #fff;}
.main-slide {height: 1043px; background-color: rgba(0,0,0,1);}
.main-slide .slick-list, .main-slide .slick-track {height: 100%;}
.slide-box {width: 100%; height: 100%;}
.slide-content {width: 100%; height: 100%; padding-top: 13%; background-repeat: no-repeat; background-position: center; background-size:cover;}
.slide-content .inner{width: 1200px; margin: 0 auto;}
.main-slide01{background-image: url('./img/main_slide01_01.jpg');}
.main-slide02{background-image: url('./img/main_slide01_02.jpg');}

.slick-active .slide-content .inner > * {opacity:0; animation-fill-mode: forwards;}
.slick-active .slide-content.load .inner > *:nth-child(1) {-webkit-animation-name: fadeInDown; animation-name: fadeInDown; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-delay: 0; animation-delay: 0;
}
.slick-active .slide-content.load .inner > *:nth-child(2) {-webkit-animation-name: fadeInDown; animation-name: fadeInDown; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-delay: 0.3s; animation-delay: 0.3s;
}
.slick-active .slide-content.load .inner > *:nth-child(3) { -webkit-animation-name: fadeInDown; animation-name: fadeInDown; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-delay: 0.6s; animation-delay: 0.6s;
}
.slick-active .slide-content.load .inner > *:nth-child(4) {-webkit-animation-name: fadeInDown; animation-name: fadeInDown; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-delay: 0.9s; animation-delay: 0.9s;
}
.slick-active .slide-content.load .inner > *:nth-child(5) {-webkit-animation-name: fadeInDown; animation-name: fadeInDown; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-delay: 1.2s; animation-delay: 1.2s;
}

/* 리뷰 */
.review-sec{padding-bottom: 120px;}

/* 커리큘럼 */
.curri-sec{height: 100%; padding: 120px 0;}
.curri-list{display: flex; position: absolute;}
.curri-list > li{margin-left: 45px;}
.curri-list > li a {display: block; width: 100%;height: 100%; overflow: hidden; border-radius: 10px;}
.curri-list > li a img {transition: all 1s;}
.curri-list > li a:hover img{transform:scale(1.1);}
.curri-menu {width: 906px; margin-top: -57px; text-align: center;}
.curri-top{position: absolute; z-index: 99; top: 373px; left: 50%; transform: translateX(-50%);}
.fake-bg{position: relative; z-index: -1; opacity:0;}

/* 고정 */
.bg-sec {width: 100%; height: 1045px; background:url('./img/sec_fixed_bg.jpg') center no-repeat; background-attachment: fixed;}

/* 포토스토리 */
.story-sec h4{margin-top: 115px; margin-bottom: 35px; font-size: 16px;}
.story-sec h3{font-size: 23px;}
.story-slide {position: absolute; right: 0; top: 230px;}
.story-list{display: flex; justify-content: space-between;}

/* 포트폴리오 */
.port-sec{position: relative; height: 1305px;}
.port-sec h4{margin-top: 87px; margin-bottom: 35px; font-size: 16px;}
.port-sec .bg-wrap img{position: absolute;}
.pofol-bg01{top: 160px; left: 50%; margin-left: 375px;}
.pofol-bg02{top: 253px; right: 50%; z-index: 9; margin-right:340px;}
.pofol-bg03{top: 267px; left: 50%; z-index: 9; margin-left: 310px;}
.pofol-bg04{top: 527px; right: 50%; z-index: 8; margin-right: 298px;}
.pofol-bg05{bottom: 257px; left: 50%; margin-left: 63px;}
.pofol-bg06{bottom: -40px; right: 50%; margin-right: 42px;}





